/* Colors */
/* Bootstrap overrides: */
/* line 9, ../scss/site.scss */
body {
  font-family: 'Helvetica', 'Arial', sans;
  padding-top: 60px;
  background: #000;
  color: white;
}
@media screen and (min-width: 768px) {
  /* line 9, ../scss/site.scss */
  body {
    padding-top: 68px;
  }
}

/* line 20, ../scss/site.scss */
body.modal-open {
  margin: 0;
  /* why is this defaulted to margin-left: 15 ???? */
}

/* line 26, ../scss/site.scss */
a {
  color: #e9b77f;
}

/* line 29, ../scss/site.scss */
.btn {
  border-radius: 0;
}

/* line 32, ../scss/site.scss */
.navbar-brand {
  padding: 5px;
}

/* line 35, ../scss/site.scss */
.navbar-brand img {
  width: 300px;
  height: 33px;
}
@media screen and (min-width: 768px) {
  /* line 35, ../scss/site.scss */
  .navbar-brand img {
    width: 500px;
    height: 55px;
  }
}

/* line 52, ../scss/site.scss */
.nav > li a:hover, .nav > li a:focus {
  color: #ff5639;
  text-shadow: 0 1px 0 white;
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 0%, #efefef 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #efefef));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #efefef 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, #efefef 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, #efefef 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%, #efefef 100%);
  /* W3C */
}
@media screen and (min-width: 768px) {
  /* line 50, ../scss/site.scss */
  .nav > li a {
    padding-top: 37px;
    padding-bottom: 10px;
    font-size: 1.2em;
  }
}

/* line 73, ../scss/site.scss */
.navbar {
  /*background: rgba(255,255,255,0.95);*/
  background: rgba(32, 32, 32, 0.96);
  box-shadow: 0px 1px 3px rgba(51, 51, 51, 0.19);
  /*border-bottom: 1px solid #ddd;*/
}

@media (min-width: 768px) {
  /* line 79, ../scss/site.scss */
  .navbar-nav {
    float: right;
  }
}

/* line 87, ../scss/site.scss */
.icon-bar {
  background: #e9b77f;
}

/* line 90, ../scss/site.scss */
.navbar-collapse {
  /*background: white;*/
}

/* Additional Styles */
/* line 98, ../scss/site.scss */
.container.intro {
  background: white;
}
@media screen and (min-width: 768px) {
  /* line 98, ../scss/site.scss */
  .container.intro {
    margin-top: -50px;
  }
}

/* line 106, ../scss/site.scss */
.hero-text-container {
  background: rgba(51, 51, 51, 0.05);
  padding: 10px 0;
}
@media screen and (min-width: 768px) {
  /* line 106, ../scss/site.scss */
  .hero-text-container {
    background: none;
  }
}

/* line 116, ../scss/site.scss */
.hero-text {
  font-size: 3em;
  font-weight: bold;
  color: white;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
}
@media screen and (min-width: 768px) {
  /* line 116, ../scss/site.scss */
  .hero-text {
    font-size: 6em;
  }
}
@media screen and (min-width: 1024px) {
  /* line 116, ../scss/site.scss */
  .hero-text {
    font-size: 7em;
  }
}

/* line 129, ../scss/site.scss */
.hero-text.left {
  color: #f1c654;
}
@media screen and (min-width: 768px) {
  /* line 129, ../scss/site.scss */
  .hero-text.left {
    margin-top: 0.3em;
  }
}

@media screen and (min-width: 768px) {
  /* line 136, ../scss/site.scss */
  .hero-text.right {
    float: right;
    line-height: 1.2;
  }
}
/* line 142, ../scss/site.scss */
.hero-text.right img {
  max-width: 75%;
  float: right;
}

/* line 150, ../scss/site.scss */
.hero-text .ideas {
  display: block;
}
/* line 154, ../scss/site.scss */
.hero-text .date, .hero-text .location {
  display: block;
}
/* line 160, ../scss/site.scss */
.hero-text .date {
  color: white;
  font-size: 0.6em;
}
@media screen and (min-width: 768px) {
  /* line 160, ../scss/site.scss */
  .hero-text .date {
    text-align: right;
  }
}
@media screen and (min-width: 1024px) {
  /* line 160, ../scss/site.scss */
  .hero-text .date {
    font-size: 0.7em;
  }
}
/* line 171, ../scss/site.scss */
.hero-text .location {
  font-size: 0.4em;
}
@media screen and (min-width: 1024px) {
  /* line 171, ../scss/site.scss */
  .hero-text .location {
    font-size: 0.5em;
    text-align: right;
  }
}
/* line 180, ../scss/site.scss */
.hero-text .buy-tickets {
  color: #ff2b06;
  background: white;
  font-size: 0.4em;
  text-shadow: none;
  padding: 0.2em;
}
@media screen and (min-width: 768px) {
  /* line 180, ../scss/site.scss */
  .hero-text .buy-tickets {
    display: block;
    float: right;
    font-size: 0.5em;
  }
  /* line 192, ../scss/site.scss */
  .hero-text .buy-tickets a:hover {
    color: #d21f00;
    text-decoration: none;
  }
}

/* line 202, ../scss/site.scss */
.bg-container {
  background-image: url("../images/bg.jpg");
  background-color: #000;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  /* line 202, ../scss/site.scss */
  .bg-container {
    background-size: auto;
    height: 506px;
  }
}

/* line 217, ../scss/site.scss */
.container.intro, .container.main-content {
  font-size: 1.3em;
}
/* line 219, ../scss/site.scss */
.container.intro h1, .container.main-content h1 {
  color: #ff2b06;
}
/* line 223, ../scss/site.scss */
.container.intro h1[id], .container.main-content h1[id] {
  padding-top: 238px;
}
@media screen and (min-width: 1024px) {
  /* line 223, ../scss/site.scss */
  .container.intro h1[id], .container.main-content h1[id] {
    padding-top: 90px;
  }
}
@media screen and (min-width: 1024px) {
  /* line 230, ../scss/site.scss */
  .container.intro .content-block, .container.main-content .content-block {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
/* line 238, ../scss/site.scss */
.container.intro .content-block h3:first-child, .container.main-content .content-block h3:first-child {
  margin-top: 0;
  padding-top: 0;
}
/* line 245, ../scss/site.scss */
.container.intro section, .container.main-content section {
  /*border-bottom: 1px solid #eee;*/
  padding-bottom: 1em;
}
/* line 249, ../scss/site.scss */
.container.intro section.first h1[id], .container.main-content section.first h1[id] {
  padding-top: 0;
}
/* line 253, ../scss/site.scss */
.container.intro section.first .content-block, .container.main-content section.first .content-block {
  padding-top: 20px;
}
/* line 258, ../scss/site.scss */
.container.intro #speaker-list .col-sm-3 img, .container.main-content #speaker-list .col-sm-3 img {
  width: 100%;
}
/* line 264, ../scss/site.scss */
.container.intro .speaker-title, .container.main-content .speaker-title {
  clear: both;
}
/* line 267, ../scss/site.scss */
.container.intro .speaker-list, .container.main-content .speaker-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: justify;
}
/* line 273, ../scss/site.scss */
.container.intro .speaker-list:after, .container.main-content .speaker-list:after {
  /* http://www.barrelny.com/blog/text-align-justify-and-rwd/ */
  content: '';
  display: inline-block;
  width: 100%;
}
/* line 278, ../scss/site.scss */
.container.intro .speaker-list li, .container.main-content .speaker-list li {
  margin-bottom: 1em;
  vertical-align: top;
  text-align: left;
}
@media screen and (min-width: 480px) {
  /* line 278, ../scss/site.scss */
  .container.intro .speaker-list li, .container.main-content .speaker-list li {
    display: inline-block;
    width: 48%;
  }
}
@media screen and (min-width: 768px) {
  /* line 278, ../scss/site.scss */
  .container.intro .speaker-list li, .container.main-content .speaker-list li {
    width: 23%;
  }
}
/* line 290, ../scss/site.scss */
.container.intro .speaker-list .filler, .container.main-content .speaker-list .filler {
  height: 0;
  margin: 0;
}
/* line 294, ../scss/site.scss */
.container.intro .speaker-img, .container.main-content .speaker-img {
  width: 100%;
}
/* line 297, ../scss/site.scss */
.container.intro .speaker-link, .container.main-content .speaker-link {
  display: block;
  margin-bottom: 0.1em;
  position: relative;
}
/* line 302, ../scss/site.scss */
.container.intro .speaker-link:before, .container.main-content .speaker-link:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
/* line 315, ../scss/site.scss */
.container.intro .speaker-name, .container.main-content .speaker-name {
  margin: 0;
}
/* line 316, ../scss/site.scss */
.container.intro .speaker-position, .container.main-content .speaker-position {
  display: block;
}
/* line 319, ../scss/site.scss */
.container.intro .speaker-name, .container.main-content .speaker-name {
  margin: 0;
}

/* line 325, ../scss/site.scss */
.speaker-popup img {
  float: right;
  padding: 10px;
  width: 30%;
}

/* line 331, ../scss/site.scss */
.modal-content {
  border-radius: 0;
}

/* line 335, ../scss/site.scss */
footer {
  color: #979797;
}

/* line 339, ../scss/site.scss */
.sponsor-logo {
  width: 70%;
}
@media screen and (min-width: 1024px) {
  /* line 339, ../scss/site.scss */
  .sponsor-logo {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  /* line 345, ../scss/site.scss */
  .sponsor-logo.csil {
    margin-top: 20px;
  }
}
