/* Colors */
/* Main Content (for those standalone pages) */
/* line 11, ../scss/site.scss */
.main-content {
  background-color: #eddcc7;
}

/* Bootstrap overrides: */
/* line 19, ../scss/site.scss */
body {
  font-family: 'Montserrat', 'Maax', 'Gotham' sans-serif;
  padding-top: 45px;
  background: #000;
  color: rgba(32, 32, 32, 0.96);
}
@media screen and (min-width: 1024px) {
  /* line 19, ../scss/site.scss */
  body {
    padding-top: 68px;
  }
}

/* line 31, ../scss/site.scss */
body.modal-open {
  margin: 0;
  /* why is this defaulted to margin-left: 15 ???? */
}

/* line 35, ../scss/site.scss */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Montserrat', 'Maax', 'Gotham' sans-serif;
}

/* line 38, ../scss/site.scss */
a {
  color: #00746d;
}

/* line 41, ../scss/site.scss */
hr {
  border-top: 1px solid #c49866;
}

/* line 44, ../scss/site.scss */
ul {
  list-style-type: square;
}

/* line 47, ../scss/site.scss */
.btn {
  border-radius: 0;
}

/* line 50, ../scss/site.scss */
.navbar-brand {
  padding-top: 10px;
  padding-bottom: 5px;
}

/* line 54, ../scss/site.scss */
.navbar-brand img {
  height: 30px;
}
@media screen and (min-width: 1024px) {
  /* line 54, ../scss/site.scss */
  .navbar-brand img {
    height: 50px;
  }
}

/* line 62, ../scss/site.scss */
.nav > li a {
  color: #e9b77f;
  font-size: 0.9em;
}
/* line 64, ../scss/site.scss */
.nav > li a:hover, .nav > li a:focus {
  background: rgba(54, 52, 52, 0.96);
  color: #edc395;
}
@media screen and (min-width: 1024px) {
  /* line 62, ../scss/site.scss */
  .nav > li a {
    padding-top: 37px;
    padding-bottom: 10px;
    font-size: 1em;
  }
}

/* line 80, ../scss/site.scss */
.navbar {
  /*background: rgba(255,255,255,0.95);*/
  background: rgba(32, 32, 32, 0.96);
  box-shadow: 0px 1px 3px rgba(51, 51, 51, 0.19);
  /*border-bottom: 1px solid #ddd;*/
}

@media (min-width: 768px) {
  /* line 87, ../scss/site.scss */
  .navbar-nav {
    float: right;
  }
}

/* line 94, ../scss/site.scss */
.icon-bar {
  background: #e9b77f;
}

/* line 97, ../scss/site.scss */
.navbar-collapse {
  /*background: white;*/
}

/* Additional Styles */
/* line 106, ../scss/site.scss */
.container.main-content {
  width: 100%;
  border-top: #008f8f solid 10px;
  background-image: url(../images/PaperMLKBackground.png);
  background-position-x: 50%;
  background-repeat: repeat-y;
  background-color: black;
  -webkit-box-shadow: inset 0px 14px 33px -11px rgba(34, 20, 9, 0.43);
  -moz-box-shadow: inset 0px 14px 33px -11px rgba(34, 20, 9, 0.43);
  box-shadow: inset 0px 14px 33px -11px rgba(34, 20, 9, 0.43);
}
/* line 110, ../scss/site.scss */
.container.main-content h1 {
  color: #00a79d;
  text-transform: uppercase;
  margin: 0.8em 0;
  font-size: 30px;
}
@media screen and (min-width: 1024px) {
  /* line 110, ../scss/site.scss */
  .container.main-content h1 {
    margin: 0;
    font-size: 36px;
  }
}
/* line 124, ../scss/site.scss */
.container.main-content h2 {
  color: #856148;
  text-transform: uppercase;
  font-size: 22px;
}
@media screen and (min-width: 1024px) {
  /* line 124, ../scss/site.scss */
  .container.main-content h2 {
    font-size: 30px;
  }
}
/* line 137, ../scss/site.scss */
.container.main-content h3 {
  color: #533d2d;
  font-size: 19px;
}
@media screen and (min-width: 1024px) {
  /* line 137, ../scss/site.scss */
  .container.main-content h3 {
    font-size: 24px;
  }
}

/* line 159, ../scss/site.scss */
.hero-text-container {
  background: rgba(51, 51, 51, 0.05);
  padding: 10px 0;
}
@media screen and (min-width: 768px) {
  /* line 159, ../scss/site.scss */
  .hero-text-container {
    background: none;
  }
}

/* line 169, ../scss/site.scss */
.hero-text {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
}
@media screen and (min-width: 768px) {
  /* line 169, ../scss/site.scss */
  .hero-text {
    font-size: 2em;
  }
}
/* line 183, ../scss/site.scss */
.hero-text .hero-links {
  clear: both;
  margin-top: 5%;
  float: right;
  width: 75%;
  text-align: center;
}
/* line 192, ../scss/site.scss */
.hero-text .hero-links a {
  color: white;
  text-transform: uppercase;
  display: block;
  margin: 1%;
  padding: 1%;
}
@media screen and (min-width: 768px) {
  /* line 192, ../scss/site.scss */
  .hero-text .hero-links a {
    background: #00a79d;
    display: inline-block;
  }
}
/* line 206, ../scss/site.scss */
.hero-text .hero-links .soon {
  float: right;
  margin: 1%;
  text-align: center;
}

@media screen and (min-width: 768px) {
  /* line 217, ../scss/site.scss */
  .hero-text.left {
    margin-top: 0.3em;
  }
}

@media screen and (min-width: 768px) {
  /* line 223, ../scss/site.scss */
  .hero-text.right {
    float: right;
    line-height: 1.2;
    margin-top: 75px;
  }
}
/* line 230, ../scss/site.scss */
.hero-text.right img {
  max-width: 75%;
  float: right;
}
@media screen and (min-width: 768px) {
  /* line 230, ../scss/site.scss */
  .hero-text.right img {
    margin-top: 5%;
  }
}

/* line 242, ../scss/site.scss */
.hero-text .ideas {
  display: block;
}
/* line 246, ../scss/site.scss */
.hero-text .date, .hero-text .location {
  display: block;
}
/* line 252, ../scss/site.scss */
.hero-text .date {
  color: white;
  font-size: 0.6em;
}
@media screen and (min-width: 768px) {
  /* line 252, ../scss/site.scss */
  .hero-text .date {
    text-align: right;
  }
}
@media screen and (min-width: 1024px) {
  /* line 252, ../scss/site.scss */
  .hero-text .date {
    font-size: 0.7em;
  }
}
/* line 263, ../scss/site.scss */
.hero-text .location {
  font-size: 0.4em;
}
@media screen and (min-width: 1024px) {
  /* line 263, ../scss/site.scss */
  .hero-text .location {
    font-size: 0.5em;
    text-align: right;
  }
}

/* line 275, ../scss/site.scss */
.bg-container {
  background-image: url("../images/bg.jpg");
  background-color: #000;
  background-repeat: no-repeat;
  background-position: 40% 0;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  /* line 275, ../scss/site.scss */
  .bg-container {
    background-position: 30% 0;
    background-size: auto;
    height: 700px;
  }
}
@media screen and (min-width: 1224px) {
  /* line 275, ../scss/site.scss */
  .bg-container {
    background-position: 50% 0;
    height: 800px;
  }
}

/* line 296, ../scss/site.scss */
.SectionContainer {
  margin: auto;
}

/* line 300, ../scss/site.scss */
.container.main-content {
  font-size: 1em;
}
@media screen and (min-width: 768px) {
  /* line 300, ../scss/site.scss */
  .container.main-content {
    font-size: 1.3em;
  }
}
/* line 308, ../scss/site.scss */
.container.main-content h1[id] {
  padding-top: 60px;
}
@media screen and (min-width: 1024px) {
  /* line 308, ../scss/site.scss */
  .container.main-content h1[id] {
    padding-top: 90px;
  }
}
/* line 316, ../scss/site.scss */
.container.main-content section.first h1[id] {
  padding-top: 0;
}
@media screen and (min-width: 990px) {
  /* line 316, ../scss/site.scss */
  .container.main-content section.first h1[id] {
    padding-top: 90px;
  }
}
@media screen and (min-width: 990px) {
  /* line 325, ../scss/site.scss */
  .container.main-content .content-block {
    padding-top: 90px;
  }
}
/* line 330, ../scss/site.scss */
.container.main-content .content-block h2:first-child {
  margin-top: 0;
  padding-top: 0;
}
/* line 334, ../scss/site.scss */
.container.main-content .content-block h3:first-child {
  margin-top: 0;
  padding-top: 0;
}
/* line 341, ../scss/site.scss */
.container.main-content section {
  /*border-bottom: 1px solid #eee;*/
  padding-bottom: 60px;
}
/* line 350, ../scss/site.scss */
.container.main-content #slideshow-list .col-sm-3 img {
  width: 100%;
}
/* line 356, ../scss/site.scss */
.container.main-content .slideshow-title {
  clear: both;
}
/* line 359, ../scss/site.scss */
.container.main-content .slideshow-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: justify;
}
/* line 365, ../scss/site.scss */
.container.main-content .slideshow-list:after {
  /* http://www.barrelny.com/blog/text-align-justify-and-rwd/ */
  content: '';
  display: inline-block;
  width: 100%;
}
/* line 370, ../scss/site.scss */
.container.main-content .slideshow-list li {
  margin-bottom: 1em;
  vertical-align: top;
  text-align: left;
}
@media screen and (min-width: 480px) {
  /* line 370, ../scss/site.scss */
  .container.main-content .slideshow-list li {
    display: inline-block;
    width: 48%;
  }
}
@media screen and (min-width: 768px) {
  /* line 370, ../scss/site.scss */
  .container.main-content .slideshow-list li {
    width: 23%;
  }
}
/* line 382, ../scss/site.scss */
.container.main-content .slideshow-list .filler {
  height: 0;
  margin: 0;
}
/* line 386, ../scss/site.scss */
.container.main-content .slideshow-img {
  width: 100%;
}
/* line 389, ../scss/site.scss */
.container.main-content .slideshow-link {
  display: block;
  margin-bottom: 0.1em;
  position: relative;
}
/* line 394, ../scss/site.scss */
.container.main-content .slideshow-link:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
/* line 407, ../scss/site.scss */
.container.main-content .slideshow-name {
  margin: 0;
}
/* line 408, ../scss/site.scss */
.container.main-content .slideshow-position {
  display: block;
}
/* line 411, ../scss/site.scss */
.container.main-content .slideshow-name {
  margin: 0;
}

/* line 421, ../scss/site.scss */
.modal-content {
  border-radius: 0;
}

/* line 425, ../scss/site.scss */
footer {
  color: #856148;
  margin-top: 5%;
}

/* line 430, ../scss/site.scss */
.sponsor-logo {
  width: 70%;
}
@media screen and (min-width: 1024px) {
  /* line 430, ../scss/site.scss */
  .sponsor-logo {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  /* line 436, ../scss/site.scss */
  .sponsor-logo.csil {
    margin-top: 20px;
  }
}
