@charset "UTF-8";
/* CSS Document */

body p {
	font-family:Helvetica, Arial, sans-serif;
	font-weight:100;
	line-height:22px;
	font-weight:lighter;
	font-size: 14px;
	margin-top:5px;
	margin-bottom: 3px;
	color:#333;
}

body a {
	color:#002B56;
	font-weight:bold;
}


body h1 {
	font-family: 'Doppio One', sans-serif;
	/*font-weight:400; */
	line-height:20px;
	font-size:28px;
	/*margin:20px; */ 
	margin-bottom:10px;
	color:#2b374a;
	font-weight:bold;
}

body h2 {
	font-family: 'Doppio One', sans-serif;
	/*font-weight:400; */
	font-size:20px;
	color: #200E18;
}

body .events h2 {
	color: #a64949;
	margin-top: 40px;
	border-top: 1px solid #b3b3b5;
	padding-top: 10px;
	font-size: 24px;

}

#mainContent.events ul {
	background: #dadadc;
	padding: 10px;
	margin: 0;
	list-style-position: inside;
	border: 1px solid #acacae;
}

#mainContent.events ul li {
	font-size: 16px;
	color: #333;
}

body .events h2:nth-of-type(1){
	border-top: none;
	margin-top: 0;
	
}

body .events h2:nth-of-type(even){
	color: #2B374A;
	
}
/* todo: ul styles
	color: #9d4343;
	background: white;
		background: #e2e2e4;
	border: 1px solid #acacae;
	*/
body h3 {
	font-family: 'Doppio One', sans-serif;
	font-weight:600;
	line-height:16px;
	font-size:12px;
	margin:25px 0 0 20px;
	
	color: #200E18;}

ul.service {font-family:Helvetica, Arial, sans-serif;
	font-weight:100;
	line-height:20px;
	font-size:12px;
	color: #200E18;}

ul.service li a{font-family:Helvetica, Arial, sans-serif;
	font-weight:lighter;
	line-height:20px;
	font-size:12px;
	margin:0 0 0 0px;
}


body li{
	font-family: Helvetica, Arial, sans-serif;
	font-weight:400;
	font-weight:400;
	font-size:16px;
	/*margin: 10px;*/
	margin-right:20px;
	color: #200E18;
	line-height: auto;
}


.leftContent img{
	margin-left:20px;
	margin-top:10px;
	margin-bottom:5px;
}

#rightColumn .leftContent.event-posters h2{
	color: #F47B7B;
}

.leftContent.event-posters p{
	color: white;
}

ol li{
	font-weight:100;
	line-height:auto;
	font-weight:lighter;
	margin-top:5px;
	margin-bottom: 3px;
}


#rightColumn a{
		color:#002B56;
		text-decoration:none;
		font-weight:bold;
}

#rightColumn h2{
		color: #A64747;
		text-decoration:none;
		font-weight:bold;
		font-style:normal;
		font-family: 'Doppio One', sans-serif;
		text-transform:uppercase;
		font-size:18px;
		margin-top:5px;
		padding:0px;
}

#mainContent a{
		color: #002B56;
		text-decoration: underline;
		font-weight:bold;


}
