/* Fix Division Bar Wrapper */
.wrapper {
	@extend .container;
}

.wrapper {
	max-width: 100%;
}

body{

	font-family: 'Montserrat', 'Maax', 'Gotham' sans-serif;
	/*padding-top: 45px;*/
	background: #000;
	color: rgba(32, 32, 32, 0.96);

	@media screen and (min-width: 1024px){
		/* padding-top: 68px; */
	}
}

body.modal-open {
		margin: 0; /* why is this defaulted to margin-left: 15 ???? */
	}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Montserrat', 'Maax', 'Gotham' sans-serif;	
}
a{ 
	color: darken($blue, 10);
}
hr {
	border-top: 1px solid #c49866;
}
ul{
	list-style-type: square;
}

header{
	z-index: 10000;
	background: black;
	border-bottom: #008f8f solid 2px;

	@media screen and (min-width: $screen-sm){
		border-bottom: #008f8f solid 4px;

	}

}

header.affix{
	/*background: rgba(32, 32, 32, 0.96); */
	top: 0;
	width: 100%;
}

.btn {
	border-radius: 0;
}


.navbar-brand {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 0;

	@media screen and (min-width: $screen-sm){
		padding-top: 10px;
		padding-bottom: 5px;
	}
}

.navbar-toggle {
	 padding: 2px 10px;

	 @media screen and (min-width: $screen-sm){
	 	padding: 9px 10px;
	 }

}


.navbar-brand img{
		height: 30px;

	@media screen and (min-width: 1024px){
		height: 50px;
	}

}
.nav>li a{
	color: $lightBrown;
	&:hover, &:focus {
		background: rgba(54, 52, 52, 0.96);
		color: lighten($lightBrown, 5);

	}
	font-size: 0.9em;

	@media screen and (min-width: 1024px){
		padding-top: 37px;
		padding-bottom: 10px;
		font-size: 1em;

	}
}



.navbar {
	/*background: rgba(255,255,255,0.95);*/
	background: rgba(32, 32, 32, 0.96);
	box-shadow: 0px 1px 3px rgba(51, 51, 51, 0.19);
	/*border-bottom: 1px solid #ddd;*/
}

.navbar-nav {
	@media (min-width: 768px){
		float: right;
	}

}

.icon-bar {
	background: #e9b77f;
}
.navbar-collapse {
	/*background: white;*/
}
.navbar-toggle {

}

/* Additional Styles */

.container.main-content {
	width: 100%;
	

	h1 {
		color: $blue;
		text-transform: uppercase;
		margin: 0.8em 0;
		font-size: 30px;

		@media screen and (min-width: 1024px){
			margin: 0;
			font-size: 36px;
		}


	}

	h2 {
		color: $brown;
		text-transform: uppercase;
		font-size: 22px;

		@media screen and (min-width: 1024px){
			font-size: 30px;
		}		



	}

	h3 {
		color: #BD5E19;
		font-size: 19px;

		@media screen and (min-width: 1024px){
			font-size: 24px;
		}		

	}


	background-image:url(../images/PaperMLKBackground.jpg); 
	background-position-x: 50%;
	background-repeat: repeat-y;
	background-color: black;

	-webkit-box-shadow: inset 0px 14px 33px -11px rgba(34, 20, 9, 0.43);
	-moz-box-shadow: inset 0px 14px 33px -11px rgba(34, 20, 9, 0.43);
	box-shadow: inset 0px 14px 33px -11px rgba(34, 20, 9, 0.43);
	
}

.hero-text-container{
	background: rgba(51, 51, 51, 0.05);
	padding: 10px 0;
	@media screen and (min-width: 768px){
		background: none;
	
	}

}

.hero-text {
	font-size: 1.5em;
	font-weight: bold;
	color: white;
	text-shadow: 0 2px 0 rgba(0,0,0,0.4);

	@media screen and (min-width: 768px){
		font-size: 2em;
		
	}
	@media screen and (min-width: 1024px){
		
	}

	.hero-links{
		clear: both;
		margin-top: 5%;
		float: right;
		width: 75%;
		text-align: center;



		a {
			color: white;
			text-transform: uppercase;
			display: block;
			margin: 1%;
			padding: 1%;
			@media screen and (min-width: 768px){
				background: $blue;
				display: inline-block;
			}


		}

		.soon {
			float: right;
			margin: 1%;
			text-align: center;
		}

	}


}

.hero-text.left{
	@media screen and (min-width: 768px){
		margin-top: 0.3em;
	}
}

.hero-text.right {
	@media screen and (min-width: 768px){
		float: right;
		line-height: 1.2;
		margin-top: 75px;
	}

	img {
		max-width: 75%;
		float: right;
		@media screen and (min-width: 768px){
			margin-top: 5%;
		}

	}
}

.hero-text {

	.ideas {
		display: block;
	}

	.date, .location {
		display: block;

	}


	.date {	
		color: white;
		font-size: 0.6em;
		@media screen and (min-width: 768px){
			text-align: right;
		}
		@media screen and (min-width: 1024px){
			font-size: 0.7em
		}
	}

	.location {
		font-size: 0.4em;

		@media screen and (min-width: 1024px){
			font-size: 0.5em;
			text-align: right;
		}
	}


}

.bg-container {
	background-image: url('../images/bg.jpg');
	background-color: #000;
	background-repeat: no-repeat;
	background-position: 40% 0;
	background-size: cover;

	@media screen and (min-width: 768px){
		background-position: 30% 0;
		background-size: auto;
		height: 700px;

	}
	@media screen and (min-width: 1224px){
		background-position: 50% 0;
		height: 800px;

	}

}

.SectionContainer{
	margin: auto;
}
/* Main Content (for those standalone pages) */
.main-content {
	background-color: $paperBrown;
}

 .container.main-content {
		font-size: 1em;

		@media screen and (min-width: 768px){
			font-size: 1.3em;
		}

		
		h1[id]{
			padding-top: 60px;

			@media screen and (min-width: 1024px){
				padding-top: 90px;
			}
		}

		section.first h1[id]{
			padding-top: 0;

			@media screen and (min-width: 990px){
					padding-top: 90px;
				}			

		}

		.content-block {
			@media screen and (min-width: 990px){
			padding-top: 90px;
			}
		}
		.content-block h2:first-child{
			margin-top: 0;
			padding-top: 0;
		}
		.content-block h3:first-child{
			margin-top: 0;
			padding-top: 0;
		}

		.content-block hr {
			border-top: 1px solid #C3B19C;
		}



		section{
			/*border-bottom: 1px solid #eee;*/
			padding-bottom: 60px;
		}
		section.first h1[id]{
			
		}


		#slideshow-list .col-sm-3 img{
			width:100%;


		}

	.slideshow-title {
		clear: both;
	}
	.slideshow-list {
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: justify;
	}
	.slideshow-list:after { /* http://www.barrelny.com/blog/text-align-justify-and-rwd/ */
		content: '';
		display: inline-block;
		width: 100%;
	}
	.slideshow-list li {
		margin-bottom: 1em;
		vertical-align: top;
		text-align: left;
		@media screen and (min-width: 480px) {
			display: inline-block;
			width: 48%;
		}
		@media screen and (min-width: 768px) {
			width: 23%;
		}
	}
	.slideshow-list .filler {
		height: 0;
		margin: 0;
	}
	.slideshow-img {
		width: 100%;
	}
	.slideshow-link {
		display: block;
		margin-bottom: 0.1em;
		position: relative;
	}
	.slideshow-link:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-ms-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
	}
	.slideshow-link:hover:before {
		
	}
	.slideshow-name {margin: 0;}
	.slideshow-position {
		display: block;
	}
	.slideshow-name {
		margin: 0;
	}

}

.slideshow-popup img{

}

.modal-content{
	border-radius: 0;
}

footer {
	color: $brown;
	margin-top: 5%;
}

.sponsor-logo {
	width: 70%;
	@media screen and (min-width: 1024px){
		width: 100%
	}
}
.sponsor-logo.csil{
		@media screen and (min-width: 768px){
			margin-top: 20px;
		}
	}
